body{
    background-color: #11171F;
}

.article1-DBZ{
    background-color: #1a1f25;
    padding: 5%;
    text-align: center;
    
}
.typographie{
    font-family: "Open Sans", sans-serif;
    color: #E8EEF6;
    font-size: large;
}
.typographie-titre{
    font-family: "Patua one",cursive;
    color: #E8EEF6;
    font-size: 2em;
    text-align: center;
    margin-bottom: 3em;

}
.p-float{
    margin-top:30px;
    line-height: 32px;
}
.gif-DBZ2{
    width: 100%;
    border-radius:0.3em;
}
.MAJ{
    font-size: xx-large;
}

@media screen and (min-width: 430px) {
    .position-gif-DBZ2{
        display: flex;
        justify-content: center;
    }
    .gif-DBZ2{
        width: 400px;
        padding: 3em 0em;
    }
    .article1-DBZ{
        padding: 10%;
    }
}
