.banner1 {
    height: 30em;
    width: 100%;
    background-image: url("banner_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}


body {
    background-color: #11171F;
}


h1 {
    color: #E60023;
}

.text_banner1 {
    font-family: "roboto", sans-serif;
    font-size: 40px;
    color: #E8EEF6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 30px;

}

.bouton1 {
    display: flex;
    justify-content:flex-start;
	font:bold 13px Arial;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	width:100px;
	border:1px solid #ccc;
    box-shadow:1px 1px 3px #999;
}