.navbar{
    font-family: 'Open Sans', sans-serif;
    background-color : #11171F;
    padding : 15px;
   display : flex ;
   justify-content: space-between;
}

.Anime{  
    top: 20px;
    left: 40px;
    font-size: 1.2em;
    color: #E8EEF6;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 45px;
}

.Articles{
    text-decoration: none;
    color:#E8EEF6;
    font-size: 15px;
    margin-left:90px;
    text-transform: uppercase;
}

.Apropos{
    text-decoration: none;
    color:#E8EEF6;
    font-size: 15px;
    margin-left : 90px;
    text-transform: uppercase;
}

.search-box{
    margin-right:200px;
    top:50px;
    left:50%;
    transform : translate (-50%, -50%);
    background : #2f3640;
    height : 40px;
    border-radius : 40px;
    padding : 10px;
}

.search-btn{
    color:#E8EEF6;
    float:right;
    width:40px;
    height:40px;
    border-radius:50%;
    background : #2f3640;
    display:flex;
    justify-content:center;
    align-items:center;
}

search-txt{
    border : none;
    background : none;
    outline : none;
    float : left;
    padding : 0;
    color:white;
    font-size: 16px;
    transition : 0.4s;
    line-height : 40px;
    width : 240px;
}
