html {
    background-color: #E8EEF6;
}

body{
    background-color: #E8EEF6;
}

.article1-DBZ {
    background-color: #11171F;
    padding: 5%;
    text-align: center;
    
}
.article1-DBZ img{
    display: flex;
    
}
.typographie{
    font-family: "Open Sans", sans-serif;
    color: #E8EEF6;
    font-size: large;
}
.typographie-titre{
    font-family: "Patua one",cursive;
    color: #E8EEF6;
    font-size: 2em;
    text-align: center;
    margin-bottom: 3em;

}
.p-float{
    margin-top:30px;
    line-height: 32px;
}

.p-float span{
    font-style: italic;
}
.gif-DBZ2{
    width: 100%;
    border-radius:0.3em;
}
.MAJ{
    font-size: xx-large;
}

#banner_sources {
    height: 30em;
    width: 100%;
    background-image: url(images/banner_sources.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position-y: 20%;
    align-content: center;
    line-height:50px;
}

.text_banner_sources {
    font-family: "Patua one",cursive;
    font-size: 60px;
    color: #E8EEF6;
    text-shadow: 2px 2px 2px #11171F;
    display: flex;
    align-items: center;
    padding: 0px;
    margin:0;
}

a {
    text-decoration: none;
    color: #E8EEF6;
}
a:hover {
    text-decoration: none;
    color: #E60023;

}
@media screen and (min-width: 430px) {
    .position-gif-DBZ2{
        display: flex;
        justify-content: center;
    }
    .gif-DBZ2{
        width: 400px;
        padding: 3em 0em;
    }
    .article1-DBZ{
        padding: 10%;
    }
}


@media screen and (min-width: 1350px) {
    #banner_sources {
        background-image: url(images/banner_sources_desktop.png);

    }
}